* Crear un df con selección de variables del notebook de regresión
* Guardarlo en csv
* Emplear pycaret reg
* Evaluar modelos y crear pkl
* Crear app de streamlit de predicción de precios 
* Crear proyecto github

In [1]:
import pandas as pd
from pycaret.regression import *

In [2]:
from sklearn.datasets import load_iris
data=load_iris()

In [3]:
iris = pd.DataFrame(data.data, columns=data.feature_names)

In [4]:
iris["target"] = data.target

In [5]:
iris.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target'],
      dtype='object')

In [15]:
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [6]:
regexperiment = setup(iris, target="target")

In [7]:
compare_models()

Initiated  . . . . . . . . . . . . . . . . . .           13:09:34
Status     . . . . . . . . . . . . . . . . . .  Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

KNeighborsRegressor(n_jobs=-1)

In [8]:
model_ada = create_model("ada")

In [9]:
tunedgada=tune_model(model_ada)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [10]:
evaluate_model(tunedgada)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [11]:
predictions = predict_model(tunedgada, data=iris)

In [12]:
modelo_final = finalize_model(tunedgada)

In [13]:
save_model(modelo_final, "model")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['sepal length (cm)',
                                              'sepal width (cm)',
                                              'petal length (cm)',
                                              'petal width (cm)'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('actual_estimator', AdaBoostRegressor(random_state=2434))]),
 'model.pkl')